In [774]:
character_columns=['name', 'department', 'departments', 'team', 'teams', 'product', 'products',
 'region', 'regions', 'subject', 'subjects', 'class', 'school', 'schools',
 'assignment', 'assignments', 'age group', 'age groups', 'disease', 'diseases',
 'hospital', 'hospitals', 'city', 'cities', 'campaign', 'campaigns',
 'platform', 'platforms', 'segment', 'segments', 'ad type', 'ad types',
 'device', 'devices', 'app version', 'app versions', 'feature', 'features',
 'day', 'days', 'error type', 'error types', 'country', 'countries', 'state', 'states',
 'zone', 'zones', 'income bracket', 'income brackets', 'gender', 'genders',
 'warehouse', 'warehouses', 'category', 'categories', 'supplier', 'suppliers',
 'delivery route', 'delivery routes', 'shipment date', 'shipment dates',
 'storage section', 'storage sections', 'developer', 'developers',
 'module', 'modules', 'sprint', 'sprints', 'bug type', 'bug types',
 'task', 'tasks', 'product type', 'product types', 'payment method',
 'payment methods', 'customer', 'coupon', 'coupon codes', 'store branch',
 'store branches', 'content type', 'content types', 'influencer',
 'influencers', 'hashtag', 'hashtags', 'posting time', 'posting times',
 'audience segment', 'audience segments', 'district', 'districts',
 'scheme', 'schemes', 'utility', 'utility types', 'complaint type',
 'complaint types', 'license category', 'license categories',
 'player', 'players', 'match', 'matches', 'event', 'events',
 'training', 'exercise', 'exercises', 'sleep day', 'meal', 'meals',
 'expense category', 'expense categories', 'mood', 'book', 'books',
 'course', 'courses', 'topic', 'topics', 'quiz', 'attempt', 'instructor',
 'instructors', 'skill', 'skills', 'learning mode', 'learning modes',
 'entry', 'entries', 'journal', 'peer', 'certificate', 'certificates']

In [775]:
time_columns=['date', 'dates', 'time', 'times', 'timestamp', 'timestamps', 'datetime', 'datetimes','month', 'months',
              'week', 'weeks', 'day', 'days',
 'quarter', 'quarters', 'year', 'years', 'time slot', 'time slots',
 'date', 'dates', 'season', 'seasons', 'hour', 'hours',
 'posting time', 'posting times', 'training day', 'sleep day',
 'shipment date', 'shipment dates','qtr']

In [776]:
location_terms = {
    "country": [
        "country", "nation", "country_name", "nationality", "sovereign_state",
        "land", "homeland", "country_code", "iso_country", "nation_name",
        "odname", "dev", "world", "continent", "subcontinent", "subregion",
        "member_state", "member_country", "state_party"
    ],
    "city": [
        "city", "town", "municipality", "metro", "metropolis", "urban_area",
        "city_name", "township", "borough", "capital", "village", "urban",
        "metro_area", "conurbation", "settlement", "locality_name"
    ],
    "state": [
        "state", "province", "region", "territory", "governorate", "prefecture",
        "division", "county", "oblast", "subdivision", "federal_state", "administrative_area",
        "state_name", "province_name", "region_name", "territory_name", "governorate_name",
        "prefecture_name", "division_name", "county_name", "oblast_name",
        "state_code", "province_code", "region_code", "territory_code", "governorate_code",
        "prefecture_code", "division_code", "county_code", "oblast_code",
        "state_id", "province_id", "region_id", "territory_id", "governorate_id",
        "prefecture_id", "division_id", "county_id", "oblast_id",
        "state_abbr", "province_abbr", "region_abbr", "territory_abbr", "governorate_abbr",
        "prefecture_abbr", "division_abbr", "county_abbr", "oblast_abbr",
        "state_iso", "province_iso", "region_iso", "territory_iso", "governorate_iso",
        "prefecture_iso", "division_iso", "county_iso", "oblast_iso",
        "reg", "reg_name", "reg_code", "reg_abbr", "reg_iso", "regname",
        "statehood", "admin_region", "admin_division", "state_entity"
    ],
    "area": [
        "area", "district", "locality", "zone", "subzone", "sector",
        "ward", "neighborhood", "region_area", "block", "circle", "areaname",
        "subdistrict", "tehsil", "taluka", "parish", "commune", "borough_area"
    ],
    "postal": [
        "postal","postalcode", "postal_code", "zipcode", "zip", "pin", "pincode",
        "post_code", "mail_code", "zip_code", "postal_number", "postcode",
        "delivery_code", "sorting_code"
    ],
    "address": [
        "address", "street", "street_address", "road", "lane", "avenue", "drive",
        "colony", "apartment", "flat", "building", "house_number", "location",
        "residence", "unit", "plot", "lot", "address_line"
    ],
    "coordinates": [
        "latitude", "lat", "longitude", "lon", "lng", "geo",
        "geo_location", "coordinates", "x_coord", "y_coord", "geocode",
        "latlon", "longlat", "gps", "spatial", "geom"
    ]
}

In [777]:
Numerical_columns=['id','sales', 'revenue', 'growth', 'expense', 'expenses', 'count', 'counts',
 'score', 'scores', 'rating', 'ratings', 'completion', 'attendance',
 'population', 'income', 'performance', 'progress', 'conversion',
 'clicks', 'reach', 'usage', 'crashes', 'crash', 'frequency',
 'GDP', 'engagement', 'vaccinations', 'mortality', 'patients',
 'cases', 'admissions', 'footfall', 'impressions', 'views',
 'capacity', 'volume', 'stats', 'mastery', 'attempts',
 'coverage', 'distribution', 'amount', 'percent', 'percentage',
 'rate', 'rates', 'spent', 'spend', 'return', 'budget', 'budgets',
 'redemption', 'allocation', 'satisfaction', 'like', 'likes',
 'share', 'shares', 'followers', 'follower', 'reach', 'ROI',
 'usage', 'value', 'values', 'lead', 'leads', 'crashes',
 'api calls', 'downloads', 'temperature', 'transactions',
 'visits', 'visitors', 'literacy', 'energy', 'traffic',
 'restock', 'delivery', 'orders', 'stock', 'quantity',
 'damage', 'line', 'code', 'bugs', 'fixed', 'commits',
 'test coverage', 'placed', 'purchases', 'calories',
 'calorie', 'burned', 'speed', 'ranking', 'point', 'points',
 'goals', 'score', 'completed', 'attempts', 'correct',
 'answer', 'difficulty', 'duration', 'productivity',
 'usage', 'conversion', 'engagement', 'impressions','avg','average']

In [778]:
Contact = ["phone","phone_number","mobile","mobile_number","contact","contact_number",
           "telephone","telephone_number","cell","cell_number","phone_no","mobile_no",
           "contact_no","tel_no","primary_phone","secondary_phone","work_phone","home_phone",
           "office_phone","personal_phone","emergency_contact_number"]

In [779]:
import pandas as pd
import numpy as np
import re
import random
from os import replace

In [780]:
csv=["Breast_cancer_data.csv","Canada.csv","categories.csv","Chocolate Sales.csv","Diwali Sales Data.csv","employees.csv","full_order_details.csv","Most Runs - 2022.csv","order_details.csv","Practicle 7 tableau_project_dataset (1).csv","products.csv","remain.csv","sales_data_sample.csv","Sales_Data_Big.csv","Sample - Superstore.csv","student_performance_dataset.csv","superstore_sales.csv","suppliers.csv","test_sheet.csv","try.csv","x_y_axis_terms.csv"]

In [809]:
i=7
df=pd.read_csv(csv[i],encoding='unicode_escape')
# df=pd.read_excel("Tableau Joins File.xlsx")
# df=pd.read_json("try.json")
print(csv[i])

Most Runs - 2022.csv

In [810]:
total_column_count=0
total_row_count=0
column_name=[]
null_columns=[]
droped_column=[]
numerical_columns=[]
phone_number_column=[]
alpha_columns=[]
date_columns=[]
location_columns=[]
country=[]
city=[]
state=[]
postal_code=[]
area=[]
address=[]
coordinates=[]
new_cols=[]
shape=[]
org_shape=df.shape
summary=["org_shape","shape","total_column_count","total_row_count","column_name",
         "null_columns","droped_column","numerical_columns","alpha_columns",
         "date_columns","location_columns","new_cols"]

In [811]:
shape=list(df.shape)
df.columns = df.columns.str.strip().str.replace(r'\s+', '_', regex=True).str.lower()
df.drop_duplicates(inplace=True)
column_name=df.columns
null_columns=df.columns[df.isnull().any()].tolist()

In [812]:
droped_column=[]
for i in null_columns:
  if (df[i].count()<= (len(df)//3)):
    droped_column.append(i)
    df.drop(columns=[i],inplace=True)
total_column_count=len(df.columns)
total_row_count=len(df)

In [813]:
numerical_columns=df.select_dtypes(include="number").columns.tolist()
alpha_columns=df.select_dtypes(include=['object','string']).columns.tolist()
date_columns=df.select_dtypes(include=['datetime']).columns.tolist()

In [815]:
#check date in numerical

from os import replace
for check_date in numerical_columns:
  check=check_date.translate(str.maketrans("_-/","   ")).split()
  for i in check[:]:
    for j in time_columns:
      if i==j:
        if check_date not in date_columns:
          date_columns.append(check_date)
        if check_date not in time_columns:
          time_columns.append(check_date)
          break
        else:
          break
for r in date_columns:
  if r in numerical_columns:
    numerical_columns.remove(r)

In [816]:
#check aplha column to dataset

for j in alpha_columns:
  for i in character_columns:
    if j==i:
      flag=0
      break
    flag=1
  if flag==1:
    character_columns.append(j)

In [817]:
#check date column from dataset

for i in alpha_columns:
  for j in time_columns:
    if i==j:
      if i not in date_columns:
        date_columns.append(i)
      break
for r in date_columns:
  if r in alpha_columns:
    alpha_columns.remove(r)

In [818]:
#check numerical column from dataset

for i in alpha_columns:
  for j in Numerical_columns:
    if i==j:
      if i not in numerical_columns:
        try:
          df[i]=df[i].astype(str).str.replace(r"[,%$]", "", regex=True).str.strip()
          df[i]=pd.to_numeric(df[i],errors='coerce')
        finally:
          numerical_columns.append(i)
      break
for r in numerical_columns:
  if r in alpha_columns:
    alpha_columns.remove(r)

In [820]:
#numerical detector___________check later

for i in alpha_columns:
    for j in Numerical_columns:
        pattern = (
            r'(^' + re.escape(j) + r'$|' +
            r'^' + re.escape(j) + r'([_\-\s]|$)|' +
            r'([_\-\s]|^)' + re.escape(j) + r'$|' +
            r'.*'+re.escape(j)+r'.*'
            r')'
        )
        if re.search(pattern, i, re.IGNORECASE):
            if i not in numerical_columns:
              v=df.loc[0,i]
              val="1234567890%.$-*+"
              nflag=0
              for fst in v:
                if fst in val:
                  nflag=nflag+1
              if nflag==(len(v)):
                df[i]=(df[i]
                  .astype(str)
                  .str.replace(r"[,_\-%\$\*]", "", regex=True)
                  .str.strip()
                  )
                df[i]=pd.to_numeric(df[i],errors="coerce")
                numerical_columns.append(i)
              break

for r in numerical_columns:
    if r in alpha_columns:
        alpha_columns.remove(r)

In [821]:
#date time detector

import re

for i in alpha_columns:
    for j in time_columns:
        pattern = (
            r'(^' + re.escape(j) + r'$|' +
            r'^' + re.escape(j) + r'([_\-\s]|$)|' +
            r'([_\-\s]|^)' + re.escape(j) + r'$|' +
            r'.*' + re.escape(j) + r'.*'
            r')'
        )
        if re.search(pattern, i, re.IGNORECASE):
            if i not in date_columns:
                date_columns.append(i)
            break

def detect_and_convert_date(col):
    col = col.astype(str).str.strip()
    if col.str.fullmatch(r"\d{1,2}").all():
        return col.astype(int), None, None
    if col.str.fullmatch(r"\d{2,4}").all():
        return col.astype(int), None, None
    parsed = pd.to_datetime(col, errors="coerce", format="%d-%m-%Y")
    month_col = parsed.dt.month
    year_col = parsed.dt.year
    return parsed.dt.strftime("%d-%m-%Y"), month_col,year_col
for r in date_columns:
    check = df.loc[0,r]
    check = str(check).strip()
    if (check[3] in ['-','/'] and check[4].isalpha()) or (check[3].lower().isalpha()):
        df[r]=df[r].astype(str).str.lower().str.strip()
        df[r]=df[r].replace({"jan":"01","feb":"02","mar":"03","apr":"04","may":"05","jun":"06",
                             "jul":"07","aug":"08","sep":"09","oct":"10","nov":"11","dec":"12","january":"01",
                             "february":"02","march":"03","april":"04","june":"06",
                             "july":"07","august":"08","september":"09","october":"10",
                             "november":"11","december":"12"},
                            regex=True)
        df[r] = pd.to_datetime(df[r],errors="coerce",format="%d-%m-%y").dt.strftime("%d-%m-%y")
        break
    df[r], month,year = detect_and_convert_date(df[r])
    if month is not None:
        df[r + "_month"] = month
        date_columns.append(r + "_month")
        
    if year is not None:
        df[r + "_year"] = year
        date_columns.append(r + "_year")

    if r in alpha_columns:
        alpha_columns.remove(r)

In [822]:
# filter duplicate date columns

for i in date_columns:
    if i not in column_name:
        new_cols.append(i)
r=[]
for i in new_cols:
    for j in date_columns:
        count=len(df)-1
        check=0
        for k in range(0,len(df)-1):
            if df.loc[k,i]==df.loc[k,j] and i!=j:
                check=check+1
            else:
                break
        if count==check:
            r.append(i)
            
for i in r:
    date_columns.remove(i)
    df.drop(columns=[i],inplace=True)

In [823]:
#Location detector

for i in location_terms:
  for j in range(len(location_terms[i])):
    for k in alpha_columns:
      if k==location_terms[i][j]:
        if k not in location_columns:
          location_columns.append(k)
          if i=="country":
            country.append(k)
          elif i=="city":
            city.append(k)
          elif i=="state":
            state.append(k)
          elif i=="area":
            area.append(k)
          elif i=="postal":
            postal_code.append(k)
          elif i=="address":
            address.append(k)
          elif i=="coordinates":
            coordinates.append(k)
    for n in numerical_columns:
      if n==location_terms[i][j]:
        if n not in location_columns:
          location_columns.append(n)
          if i=="postal":
            postal_code.append(n)
for r in location_columns:
  if r in alpha_columns:
    alpha_columns.remove(r)
for rn in location_columns:
  if rn in numerical_columns:
    numerical_columns.remove(rn)

In [ ]:
#non alphabetical pushed to numerical

for i in alpha_columns:
  flag=0
  add=0
  sub=0
  nct=0
  fstvl=0
  lstvl=0
  special=0
  value=df.loc[0,i]
  val="1234567890"
  alpha = "abcdefghijklmnopqrstuvwxyz"
  Alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  if (len(value)==1) and ((value in alpha) or (value in Alpha)):
    continue

    if isinstance(value, str):
      val="1234567890"
      vald="1234567890."
      value=value.replace(",","").strip()
      for tr in range(len(value)):
        if (value[tr] not in val) and (value[tr]==value[0]):
          fstvl=1
        elif (value[tr] not in val) and (value[tr]==value[-1]):
          lstvl=1
        elif (value[tr] in val):
          flag=flag+1
        elif (value[tr]=="."):
          flag=flag+1
          special=special+1
    if (fstvl==1) and ((len(value)-1)==flag):
      for cv in range(len(df[i])):
        val_str = str(df.loc[cv, i])
        for see in val_str:
          if (sub==0) and (see=="-"):
            sub=1
          elif see not in vald:
            val_str = val_str.replace(see, "")
        df.loc[cv, i] = val_str
      df[i]=(df[i]
            .astype(str)
            .str.replace(",","",regex=False)
            .str.strip()
            )
      df[i]=pd.to_numeric(df[i],errors="coerce")
      numerical_columns.append(i)
    elif (lstvl==1) and ((len(value)-1)==flag):
      for cv in range(len(df[i])):
        val_str = str(df.loc[cv, i])
        for see in val_str:
          if (sub==0) and (see=="-"):
            sub=1
          elif see not in vald:
            val_str = val_str.replace(see, "")
        df.loc[cv, i] = val_str
      df[i]=(df[i]
            .astype(str)
            .str.replace(",","",regex=False)
            .str.strip()
            )
      df[i]=pd.to_numeric(df[i],errors="coerce")
      numerical_columns.append(i)
    elif (special==1) and ((len(value))==flag):
      for cv in range(len(df[i])):
        val_str = str(df.loc[cv, i])
        for see in val_str:
          if (sub==0) and (see=="-"):
            sub=1
          elif see not in vald:
            val_str = val_str.replace(see, "")
        df.loc[cv, i] = val_str
      df[i]=(df[i]
            .astype(str)
            .str.replace(",","",regex=False)
            .str.strip()
            )
      df[i]=pd.to_numeric(df[i],errors="coerce")
      numerical_columns.append(i)
    elif (special==0) and ((len(value))==flag) and (lstvl==0) and (fstvl==0):
      for cv in range(len(df[i])):
        val_str = str(df.loc[cv, i])
        for see in val_str:
          if (sub==0) and (see=="-"):
            sub=1
          elif see not in vald:
            val_str = val_str.replace(see, "")
        df.loc[cv, i] = val_str
      df[i]=(df[i]
            .astype(str)
            .str.replace(",","",regex=False)
            .str.strip()
            )
      df[i]=pd.to_numeric(df[i],errors="coerce")
      numerical_columns.append(i)
  else:
    if (isinstance(value,str)):
      for cv in value:
        if cv in val:
          nct=nct+1
      if len(value)==nct:
        df[i]=(df[i]
            .astype(str)
            .str.replace(r"[,_\-%\$\*]", "", regex=True)
            .str.strip()
            )
        df[i]=pd.to_numeric(df[i],errors="coerce")
        numerical_columns.append(i)

for r in numerical_columns:
  if r in alpha_columns:
    alpha_columns.remove(r)

int64

In [827]:
#non numerical pushed to alphabetical

for i in numerical_columns:
  flag=0
  add=0
  sub=0
  value = df.loc[0, i]
  if isinstance(value, str):
    val="1234567890"
    vald="1234567890."
    alpha="abcdefghijklmnopqrstuvwxyz"
    Alpha="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    value=value.replace(",","").strip()
    for tr in range(1,len(value)):
      if (isinstance(value[0],str) and (value[tr] in val) ) or ((value[0] in val) and (value[tr] in val)) or ((value[tr-1] in val) and (isinstance(value[-1],str))):
        flag=1
      elif (value[tr] == "."):
        flag=1
      else:
        add=add+1
  flag=flag+add
  if (flag==1) and (((value[0] not in alpha) and (value[0] not in Alpha)) and ((value[-1] not in alpha) and (value[-1] not in Alpha))):
    if len(df[i])<=100:
        check_len=len(df[i])
    else:
        check_len=60
    n=np.random.randint(1, len(df[i])//3)
    for cv in range(n,check_len):
      val_str = str(df.loc[cv, i])
      for see in val_str:
        if (sub==0) and (see=="-"):
          sub=1
        elif (see not in vald):
          val_str = val_str.replace(see, "")
      df.loc[cv, i] = val_str
    df[i] = (
    df[i]
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.strip())
    df[i] = pd.to_numeric(df[i], errors="coerce")
  elif (flag>1) or ((flag==1) and (((value[0] in alpha) or (value[0] in Alpha)) or ((value[-1] in alpha) or (value[-1] in Alpha)))):
    alpha_columns.append(i)
for r in alpha_columns:
  if r in numerical_columns:
    numerical_columns.remove(r)

In [828]:
#phone number detector from numerical column
for i in numerical_columns:
  if i in Contact:
    phone_number_column.append(i)
    numerical_columns.remove(i)

In [829]:
#filter alpha columns
for r in alpha_columns:
  if r in numerical_columns:
    alpha_columns.remove(r)
  elif r in date_columns:
    alpha_columns.remove(r)
  elif r in location_columns:
    alpha_columns.remove(r)

In [832]:
#formatting alpha columns
for i in alpha_columns:
  df[i]=df[i].str.strip()
  df[i]=df[i].str.title()

In [833]:
df.drop_duplicates(inplace=True)
shape=list(df.shape)

In [834]:
for i in alpha_columns:
    df[i]=df[i].str.lower()
    val=df.loc[0,i]
    if (val=="yes") or (val=="no"):
        df[i]=df[i].replace({"yes":1,"no":0})
    elif (val=="true") or (val=="false"):
        df[i]=df[i].replace({"true":1,"false":0})
    elif (val=="m") or (val=="f"):
        df[i].replace({"m":"Male","f":"Female"},inplace=True)
    df[i]=df[i].str.title()

In [836]:
for i in summary:
    print(f"{i}:-\n{eval(i)}\n")
for i in df.columns:
    print(f"{i}\n{df[i].describe()}\n")
print(df.head())
print(df.tail())

org_shape:-
(162, 14)

shape:-
[162, 14]

total_column_count:-
14

total_row_count:-
162

column_name:-
Index(['pos', 'player', 'mat', 'inns', 'no', 'runs', 'hs', 'avg', 'bf', 'sr',
       '100', '50', '4s', '6s'],
      dtype='object')

null_columns:-
[]

droped_column:-
[]

numerical_columns:-
['pos', 'mat', 'inns', 'no', 'runs', 'bf', 'sr', '100', '50', '4s', '6s', 'avg', 'hs']

alpha_columns:-
['player']

date_columns:-
[]

location_columns:-
[]

new_cols:-
[]

pos
count    162.000000
mean      81.500000
std       46.909487
min        1.000000
25%       41.250000
50%       81.500000
75%      121.750000
max      162.000000
Name: pos, dtype: float64

player
count             162
unique            162
top       Jos Buttler
freq                1
Name: player, dtype: object

mat
count    162.000000
mean       9.160494
std        5.047493
min        1.000000
25%        5.000000
50%        9.500000
75%       14.000000
max       17.000000
Name: mat, dtype: float64

inns
count    162.000000
mean       7.141975
std        4.816982
min        1.000000
25%        3.000000
50%        7.000000
75%       11.000000
max       17.000000
Name: inns, dtype: float64

no
count    162.000000
mean       1.586420
std        1.819989
min        0.000000
25%        0.000000
50%        1.000000
75%        2.000000
max       10.000000
Name: no, dtype: float64

runs
count    162.000000
mean     142.296296
std      161.252161
min        1.000000
25%       14.500000
50%       65.000000
75%      241.500000
max      863.000000
Name: runs, dtype: float64

hs
count    162.000000
mean      36.302469
std       30.698916
min        1.000000
25%        9.250000
50%       26.000000
75%       56.750000
max      140.000000
Name: hs, dtype: float64

avg
count    154.000000
mean      20.011948
std       13.918270
min        0.500000
25%        8.000000
50%       17.625000
75%       28.832500
max       68.710000
Name: avg, dtype: float64

bf
count    162.000000
mean     106.061728
std      114.571234
min        1.000000
25%       14.000000
50%       47.500000
75%      176.500000
max      579.000000
Name: bf, dtype: float64

sr
count    162.000000
mean     120.406235
std       45.192799
min       16.660000
25%       94.082500
50%      123.620000
75%      144.247500
max      400.000000
Name: sr, dtype: float64

100
count    162.000000
mean       0.049383
std        0.366322
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        4.000000
Name: 100, dtype: float64

50
count    162.000000
mean       0.679012
std        1.172428
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        5.000000
Name: 50, dtype: float64

4s
count    162.000000
mean      12.450617
std       15.314529
min        0.000000
25%        1.000000
50%        5.000000
75%       21.000000
max       83.000000
Name: 4s, dtype: float64

6s
count    162.000000
mean       6.555556
std        8.070343
min        0.000000
25%        0.000000
50%        3.000000
75%       11.000000
max       45.000000
Name: 6s, dtype: float64

   pos           player  mat  inns  no  runs   hs    avg   bf      sr  100  \
0    1      Jos Buttler   17    17   2   863  116  57.53  579  149.05    4
1    2        K L Rahul   15    15   3   616  103  51.33  455  135.38    2
2    3  Quinton De Kock   15    15   1   508  140  36.29  341  148.97    1
3    4    Hardik Pandya   15    15   4   487   87  44.27  371  131.26    0
4    5     Shubman Gill   16    16   2   483   96  34.50  365  132.32    0

   50  4s  6s
0   4  83  45
1   4  45  30
2   3  47  23
3   4  49  12
4   4  51  11
     pos               player  mat  inns  no  runs  hs  avg  bf     sr  100  \
157  158     Fazalhaq Farooqi    3     1   1     2   2  NaN   8  25.00    0
158  159   Jagadeesha Suchith    5     2   0     2   2  1.0   8  25.00    0
159  160          Tim Southee    9     5   1     2   1  0.5  12  16.66    0
160  161  Nathan Coulter-Nile    1     1   1     1   1  NaN   2  50.00    0
161  162        Anrich Nortje    6     1   1     1   1  NaN   6  16.66    0

     50  4s  6s
157   0   0   0
158   0   0   0
159   0   0   0
160   0   0   0
161   0   0   0