In [337]:
character_columns=['name', 'department', 'departments', 'team', 'teams', 'product', 'products',
 'region', 'regions', 'subject', 'subjects', 'class', 'school', 'schools',
 'assignment', 'assignments', 'age group', 'age groups', 'disease', 'diseases',
 'hospital', 'hospitals', 'city', 'cities', 'campaign', 'campaigns',
 'platform', 'platforms', 'segment', 'segments', 'ad type', 'ad types',
 'device', 'devices', 'app version', 'app versions', 'feature', 'features',
 'day', 'days', 'error type', 'error types', 'country', 'countries', 'state', 'states',
 'zone', 'zones', 'income bracket', 'income brackets', 'gender', 'genders',
 'warehouse', 'warehouses', 'category', 'categories', 'supplier', 'suppliers',
 'delivery route', 'delivery routes', 'shipment date', 'shipment dates',
 'storage section', 'storage sections', 'developer', 'developers',
 'module', 'modules', 'sprint', 'sprints', 'bug type', 'bug types',
 'task', 'tasks', 'product type', 'product types', 'payment method',
 'payment methods', 'customer', 'coupon', 'coupon codes', 'store branch',
 'store branches', 'content type', 'content types', 'influencer',
 'influencers', 'hashtag', 'hashtags', 'posting time', 'posting times',
 'audience segment', 'audience segments', 'district', 'districts',
 'scheme', 'schemes', 'utility', 'utility types', 'complaint type',
 'complaint types', 'license category', 'license categories',
 'player', 'players', 'match', 'matches', 'event', 'events',
 'training', 'exercise', 'exercises', 'sleep day', 'meal', 'meals',
 'expense category', 'expense categories', 'mood', 'book', 'books',
 'course', 'courses', 'topic', 'topics', 'quiz', 'attempt', 'instructor',
 'instructors', 'skill', 'skills', 'learning mode', 'learning modes',
 'entry', 'entries', 'journal', 'peer', 'certificate', 'certificates']

In [338]:
time_columns=['date', 'dates', 'time', 'times', 'timestamp', 'timestamps', 'datetime', 'datetimes','month', 'months',
              'week', 'weeks', 'day', 'days',
 'quarter', 'quarters', 'year', 'years', 'time slot', 'time slots',
 'date', 'dates', 'season', 'seasons', 'hour', 'hours',
 'posting time', 'posting times', 'training day', 'sleep day',
 'shipment date', 'shipment dates','qtr']

In [339]:
location_terms = {
    "country": [
        "country", "nation", "country_name", "nationality", "sovereign_state",
        "land", "homeland", "country_code", "iso_country", "nation_name",
        "odname", "dev", "world", "continent", "subcontinent", "subregion",
        "member_state", "member_country", "state_party"
    ],
    "city": [
        "city", "town", "municipality", "metro", "metropolis", "urban_area",
        "city_name", "township", "borough", "capital", "village", "urban",
        "metro_area", "conurbation", "settlement", "locality_name"
    ],
    "state": [
        "state", "province", "region", "territory", "governorate", "prefecture",
        "division", "county", "oblast", "subdivision", "federal_state", "administrative_area",
        "state_name", "province_name", "region_name", "territory_name", "governorate_name",
        "prefecture_name", "division_name", "county_name", "oblast_name",
        "state_code", "province_code", "region_code", "territory_code", "governorate_code",
        "prefecture_code", "division_code", "county_code", "oblast_code",
        "state_id", "province_id", "region_id", "territory_id", "governorate_id",
        "prefecture_id", "division_id", "county_id", "oblast_id",
        "state_abbr", "province_abbr", "region_abbr", "territory_abbr", "governorate_abbr",
        "prefecture_abbr", "division_abbr", "county_abbr", "oblast_abbr",
        "state_iso", "province_iso", "region_iso", "territory_iso", "governorate_iso",
        "prefecture_iso", "division_iso", "county_iso", "oblast_iso",
        "reg", "reg_name", "reg_code", "reg_abbr", "reg_iso", "regname",
        "statehood", "admin_region", "admin_division", "state_entity"
    ],
    "area": [
        "area", "district", "locality", "zone", "subzone", "sector",
        "ward", "neighborhood", "region_area", "block", "circle", "areaname",
        "subdistrict", "tehsil", "taluka", "parish", "commune", "borough_area"
    ],
    "postal": [
        "postal","postalcode", "postal_code", "zipcode", "zip", "pin", "pincode",
        "post_code", "mail_code", "zip_code", "postal_number", "postcode",
        "delivery_code", "sorting_code"
    ],
    "address": [
        "address", "street", "street_address", "road", "lane", "avenue", "drive",
        "colony", "apartment", "flat", "building", "house_number", "location",
        "residence", "unit", "plot", "lot", "address_line"
    ],
    "coordinates": [
        "latitude", "lat", "longitude", "lon", "lng", "geo",
        "geo_location", "coordinates", "x_coord", "y_coord", "geocode",
        "latlon", "longlat", "gps", "spatial", "geom"
    ]
}

In [340]:
Numerical_columns=['id','sales', 'revenue', 'growth', 'expense', 'expenses', 'count', 'counts',
 'score', 'scores', 'rating', 'ratings', 'completion', 'attendance',
 'population', 'income', 'performance', 'progress', 'conversion',
 'clicks', 'reach', 'usage', 'crashes', 'crash', 'frequency',
 'GDP', 'engagement', 'vaccinations', 'mortality', 'patients',
 'cases', 'admissions', 'footfall', 'impressions', 'views',
 'capacity', 'volume', 'stats', 'mastery', 'attempts',
 'coverage', 'distribution', 'amount', 'percent', 'percentage',
 'rate', 'rates', 'spent', 'spend', 'return', 'budget', 'budgets',
 'redemption', 'allocation', 'satisfaction', 'like', 'likes',
 'share', 'shares', 'followers', 'follower', 'reach', 'ROI',
 'usage', 'value', 'values', 'lead', 'leads', 'crashes',
 'api calls', 'downloads', 'temperature', 'transactions',
 'visits', 'visitors', 'literacy', 'energy', 'traffic',
 'restock', 'delivery', 'orders', 'stock', 'quantity',
 'damage', 'line', 'code', 'bugs', 'fixed', 'commits',
 'test coverage', 'placed', 'purchases', 'calories',
 'calorie', 'burned', 'speed', 'ranking', 'point', 'points',
 'goals', 'score', 'completed', 'attempts', 'correct',
 'answer', 'difficulty', 'duration', 'productivity',
 'usage', 'conversion', 'engagement', 'impressions','avg','average']

In [341]:
Contact = ["phone","phone_number","mobile","mobile_number","contact","contact_number",
           "telephone","telephone_number","cell","cell_number","phone_no","mobile_no",
           "contact_no","tel_no","primary_phone","secondary_phone","work_phone","home_phone",
           "office_phone","personal_phone","emergency_contact_number"]

In [342]:
import pandas as pd
import numpy as np
import re
import random
from os import replace

In [343]:
csv=["Breast_cancer_data.csv","Canada.csv","categories.csv","Chocolate Sales.csv","Diwali Sales Data.csv","employees.csv","full_order_details.csv","Most Runs - 2022.csv","order_details.csv","Practicle 7 tableau_project_dataset (1).csv","products.csv","remain.csv","sales_data_sample.csv","Sales_Data_Big.csv","Sample - Superstore.csv","student_performance_dataset.csv","superstore_sales.csv","suppliers.csv","test_sheet.csv","try.csv","x_y_axis_terms.csv"]

In [344]:
i=3
df=pd.read_csv(csv[i],encoding='unicode_escape')
# df=pd.read_excel("Tableau Joins File.xlsx")
# df=pd.read_json("try.json")
print(csv[i])

Chocolate Sales.csv

In [345]:
total_column_count=0
total_row_count=0
column_name=[]
null_columns=[]
droped_column=[]
numerical_columns=[]
phone_number_column=[]
alpha_columns=[]
date_columns=[]
location_columns=[]
country=[]
city=[]
state=[]
postal_code=[]
area=[]
address=[]
coordinates=[]
new_cols=[]
shape=[]
org_shape=df.shape
summary=["org_shape","shape","total_column_count","total_row_count","column_name",
         "null_columns","droped_column","numerical_columns","alpha_columns",
         "date_columns","location_columns","new_cols"]

In [346]:
shape=list(df.shape)
df.columns = df.columns.str.strip().str.replace(r'\s+', '_', regex=True).str.lower()
df.drop_duplicates(inplace=True)
column_name=df.columns
null_columns=df.columns[df.isnull().any()].tolist()

In [347]:
droped_column=[]
for i in null_columns:
  if (df[i].count()<= (len(df)//3)):
    droped_column.append(i)
    df.drop(columns=[i],inplace=True)
total_column_count=len(df.columns)
total_row_count=len(df)

In [348]:
numerical_columns=df.select_dtypes(include="number").columns.tolist()
alpha_columns=df.select_dtypes(include=['object','string']).columns.tolist()
date_columns=df.select_dtypes(include=['datetime']).columns.tolist()

In [349]:
#check date in numerical

from os import replace
for check_date in numerical_columns:
  check=check_date.translate(str.maketrans("_-/","   ")).split()
  for i in check[:]:
    for j in time_columns:
      if i==j:
        if check_date not in date_columns:
          date_columns.append(check_date)
        if check_date not in time_columns:
          time_columns.append(check_date)
          break
        else:
          break
for r in date_columns:
  if r in numerical_columns:
    numerical_columns.remove(r)

In [350]:
#check aplha column to dataset

for j in alpha_columns:
  for i in character_columns:
    if j==i:
      flag=0
      break
    flag=1
  if flag==1:
    character_columns.append(j)

In [351]:
#check date column from dataset

for i in alpha_columns:
  for j in time_columns:
    if i==j:
      if i not in date_columns:
        date_columns.append(i)
      break
for r in date_columns:
  if r in alpha_columns:
    alpha_columns.remove(r)

In [352]:
#check numerical column from dataset

for i in alpha_columns:
  for j in Numerical_columns:
    if i==j:
      if i not in numerical_columns:
        numerical_columns.append(i)
      break
for r in numerical_columns:
  if r in alpha_columns:
    alpha_columns.remove(r)

In [353]:
#numerical detector___________check later

for i in alpha_columns:
    for j in Numerical_columns:
        pattern = (
            r'(^' + re.escape(j) + r'$|' +
            r'^' + re.escape(j) + r'([_\-\s]|$)|' +
            r'([_\-\s]|^)' + re.escape(j) + r'$|' +
            r'.*'+re.escape(j)+r'.*'
            r')'
        )
        if re.search(pattern, i, re.IGNORECASE):
            if i not in numerical_columns:
              v=df.loc[0,i]
              val="1234567890%.$-*+"
              nflag=0
              for fst in v:
                if fst in val:
                  nflag=nflag+1
              if nflag==(len(v)):
                df[i]=(df[i]
                  .astype(str)
                  .str.replace(r"[,_\-%\$\*]", "", regex=True)
                  .str.strip()
                  )
                df[i]=pd.to_numeric(df[i],errors="coerce")
                numerical_columns.append(i)
              break

for r in numerical_columns:
    if r in alpha_columns:
        alpha_columns.remove(r)

In [354]:
#date time detector

import re

for i in alpha_columns:
    for j in time_columns:
        pattern = (
            r'(^' + re.escape(j) + r'$|' +
            r'^' + re.escape(j) + r'([_\-\s]|$)|' +
            r'([_\-\s]|^)' + re.escape(j) + r'$|' +
            r'.*' + re.escape(j) + r'.*'
            r')'
        )
        if re.search(pattern, i, re.IGNORECASE):
            if i not in date_columns:
                date_columns.append(i)
            break

def detect_and_convert_date(col):
    col = col.astype(str).str.strip()
    if col.str.fullmatch(r"\d{1,2}").all():
        return col.astype(int), None, None
    if col.str.fullmatch(r"\d{2,4}").all():
        return col.astype(int), None, None
    parsed = pd.to_datetime(col, errors="coerce", format="%d-%m-%Y")
    month_col = parsed.dt.month
    year_col = parsed.dt.year
    return parsed.dt.strftime("%d-%m-%Y"), month_col,year_col
for r in date_columns:
    check = df.loc[0,r]
    check = str(check).strip()
    if (check[3] in ['-','/'] and check[4].isalpha()) or (check[3].lower().isalpha()):
        df[r]=df[r].astype(str).str.lower().str.strip()
        df[r]=df[r].replace({"jan":"01","feb":"02","mar":"03","apr":"04","may":"05","jun":"06",
                             "jul":"07","aug":"08","sep":"09","oct":"10","nov":"11","dec":"12","january":"01",
                             "february":"02","march":"03","april":"04","june":"06",
                             "july":"07","august":"08","september":"09","october":"10",
                             "november":"11","december":"12"},
                            regex=True)
        df[r] = pd.to_datetime(df[r],errors="coerce",format="%d-%m-%y").dt.strftime("%d-%m-%y")
        break
    df[r], month,year = detect_and_convert_date(df[r])
    if month is not None:
        df[r + "_month"] = month
        date_columns.append(r + "_month")
        
    if year is not None:
        df[r + "_year"] = year
        date_columns.append(r + "_year")

    if r in alpha_columns:
        alpha_columns.remove(r)

In [355]:
# filter duplicate date columns

for i in date_columns:
    if i not in column_name:
        new_cols.append(i)
r=[]
for i in new_cols:
    for j in date_columns:
        count=len(df)-1
        check=0
        for k in range(0,len(df)-1):
            if df.loc[k,i]==df.loc[k,j] and i!=j:
                check=check+1
            else:
                break
        if count==check:
            r.append(i)
            
for i in r:
    date_columns.remove(i)
    df.drop(columns=[i],inplace=True)

In [356]:
#Location detector

for i in location_terms:
  for j in range(len(location_terms[i])):
    for k in alpha_columns:
      if k==location_terms[i][j]:
        if k not in location_columns:
          location_columns.append(k)
          if i=="country":
            country.append(k)
          elif i=="city":
            city.append(k)
          elif i=="state":
            state.append(k)
          elif i=="area":
            area.append(k)
          elif i=="postal":
            postal_code.append(k)
          elif i=="address":
            address.append(k)
          elif i=="coordinates":
            coordinates.append(k)
    for n in numerical_columns:
      if n==location_terms[i][j]:
        if n not in location_columns:
          location_columns.append(n)
          if i=="postal":
            postal_code.append(n)
for r in location_columns:
  if r in alpha_columns:
    alpha_columns.remove(r)
for rn in location_columns:
  if rn in numerical_columns:
    numerical_columns.remove(rn)

In [357]:
print(alpha_columns)
print(numerical_columns)
print(date_columns)
print(location_columns)

['ï»¿sales_person', 'product']
['boxes_shipped', 'amount']
['date']
['country']

In [358]:
#non alphabetical pushed to numerical

for i in alpha_columns:
  flag=0
  add=0
  sub=0
  nct=0
  fstvl=0
  lstvl=0
  special=0
  value=df.loc[0,i]
  val="1234567890"
  alpha = "abcdefghijklmnopqrstuvwxyz"
  Alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  if (len(value)==1) and ((value in alpha) or (value in Alpha)):
    continue

    if isinstance(value, str):
      val="1234567890"
      vald="1234567890."
      value=value.replace(",","").strip()
      for tr in range(len(value)):
        if (value[tr] not in val) and (value[tr]==value[0]):
          fstvl=1
        elif (value[tr] not in val) and (value[tr]==value[-1]):
          lstvl=1
        elif (value[tr] in val):
          flag=flag+1
        elif (value[tr]=="."):
          flag=flag+1
          special=special+1
    if (fstvl==1) and ((len(value)-1)==flag):
      for cv in range(len(df[i])):
        val_str = str(df.loc[cv, i])
        for see in val_str:
          if (sub==0) and (see=="-"):
            sub=1
          elif see not in vald:
            val_str = val_str.replace(see, "")
        df.loc[cv, i] = val_str
      df[i]=(df[i]
            .astype(str)
            .str.replace(",","",regex=False)
            .str.strip()
            )
      df[i]=pd.to_numeric(df[i],errors="coerce")
      numerical_columns.append(i)
    elif (lstvl==1) and ((len(value)-1)==flag):
      for cv in range(len(df[i])):
        val_str = str(df.loc[cv, i])
        for see in val_str:
          if (sub==0) and (see=="-"):
            sub=1
          elif see not in vald:
            val_str = val_str.replace(see, "")
        df.loc[cv, i] = val_str
      df[i]=(df[i]
            .astype(str)
            .str.replace(",","",regex=False)
            .str.strip()
            )
      df[i]=pd.to_numeric(df[i],errors="coerce")
      numerical_columns.append(i)
    elif (special==1) and ((len(value))==flag):
      for cv in range(len(df[i])):
        val_str = str(df.loc[cv, i])
        for see in val_str:
          if (sub==0) and (see=="-"):
            sub=1
          elif see not in vald:
            val_str = val_str.replace(see, "")
        df.loc[cv, i] = val_str
      df[i]=(df[i]
            .astype(str)
            .str.replace(",","",regex=False)
            .str.strip()
            )
      df[i]=pd.to_numeric(df[i],errors="coerce")
      numerical_columns.append(i)
    elif (special==0) and ((len(value))==flag) and (lstvl==0) and (fstvl==0):
      for cv in range(len(df[i])):
        val_str = str(df.loc[cv, i])
        for see in val_str:
          if (sub==0) and (see=="-"):
            sub=1
          elif see not in vald:
            val_str = val_str.replace(see, "")
        df.loc[cv, i] = val_str
      df[i]=(df[i]
            .astype(str)
            .str.replace(",","",regex=False)
            .str.strip()
            )
      df[i]=pd.to_numeric(df[i],errors="coerce")
      numerical_columns.append(i)
  else:
    if (isinstance(value,str)):
      for cv in value:
        if cv in val:
          nct=nct+1
      if len(value)==nct:
        df[i]=(df[i]
            .astype(str)
            .str.replace(r"[,_\-%\$\*]", "", regex=True)
            .str.strip()
            )
        df[i]=pd.to_numeric(df[i],errors="coerce")
        dt=df[i].dtype
        print(dt)
        numerical_columns.append(i)

for r in numerical_columns:
  if r in alpha_columns:
    alpha_columns.remove(r)

In [359]:
#non numerical pushed to alphabetical

for i in numerical_columns:
  flag=0
  add=0
  sub=0
  value = df.loc[0, i]
  if isinstance(value, str):
    val="1234567890"
    vald="1234567890."
    alpha="abcdefghijklmnopqrstuvwxyz"
    Alpha="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    value=value.replace(",","").strip()
    for tr in range(1,len(value)):
      if (isinstance(value[0],str) and (value[tr] in val) ) or ((value[0] in val) and (value[tr] in val)) or ((value[tr-1] in val) and (isinstance(value[-1],str))):
        flag=1
      elif (value[tr] == "."):
        flag=1
      else:
        add=add+1
  flag=flag+add
  if (flag==1) and (((value[0] not in alpha) and (value[0] not in Alpha)) and ((value[-1] not in alpha) and (value[-1] not in Alpha))):
    if len(df[i])<=100:
        check_len=len(df[i])
    else:
        check_len=60
    n=np.random.randint(1, len(df[i])//3)
    for cv in range(n,check_len):
      val_str = str(df.loc[cv, i])
      for see in val_str:
        if (sub==0) and (see=="-"):
          sub=1
        elif (see not in vald):
          val_str = val_str.replace(see, "")
      df.loc[cv, i] = val_str
    df[i] = (
    df[i]
    .astype(str)
    .str.replace(",", "", regex=False)
    .str.strip())
    df[i] = pd.to_numeric(df[i], errors="coerce")
  elif (flag>1) or ((flag==1) and (((value[0] in alpha) or (value[0] in Alpha)) or ((value[-1] in alpha) or (value[-1] in Alpha)))):
    alpha_columns.append(i)
for r in alpha_columns:
  if r in numerical_columns:
    numerical_columns.remove(r)

In [360]:
#phone number detector from numerical column
for i in numerical_columns:
  if i in Contact:
    phone_number_column.append(i)
    numerical_columns.remove(i)

In [361]:
#filter alpha columns
for r in alpha_columns:
  if r in numerical_columns:
    alpha_columns.remove(r)
  elif r in date_columns:
    alpha_columns.remove(r)
  elif r in location_columns:
    alpha_columns.remove(r)

In [362]:
# #fill numerical null with 0
# if len(numerical_columns)>0:
#   for i in numerical_columns:
#     df[i]=df[i].fillna(0)

In [363]:
print(alpha_columns)
print(numerical_columns)
print(date_columns)
print(location_columns)

['ï»¿sales_person', 'product']
['boxes_shipped', 'amount']
['date']
['country']

In [364]:
#formatting alpha columns
for i in alpha_columns:
  df[i]=df[i].str.strip()
  df[i]=df[i].str.title()

In [365]:
df.drop_duplicates(inplace=True)
shape=list(df.shape)

In [366]:
for i in alpha_columns:
    df[i]=df[i].str.lower()
    val=df.loc[0,i]
    if (val=="yes") or (val=="no"):
        df[i]=df[i].replace({"yes":1,"no":0})
    elif (val=="true") or (val=="false"):
        df[i]=df[i].replace({"true":1,"false":0})
    elif (val=="m") or (val=="f"):
        df[i].replace({"m":"Male","f":"Female"},inplace=True)
    df[i]=df[i].str.title()

In [367]:
# need to check 

for i in numerical_columns:
    Q1 = df[i].quantile(0.25)
    Q3 = df[i].quantile(0.75)
    IQR = Q3 - Q1
    lower_limit = Q1 - 1.5 * IQR
    upper_limit = Q3 + 1.5 * IQR
    value = df[i].sort_values(ascending=True)
    print(i,Q1)

boxes_shipped 70.0
amount nan

In [368]:
for i in summary:
    print(f"{i}:-\n{eval(i)}\n")
for i in df.columns:
    print(f"{i}\n{df[i].describe()}\n")
print(df.head())
print(df.tail())

org_shape:-
(1094, 6)

shape:-
[1094, 6]

total_column_count:-
6

total_row_count:-
1094

column_name:-
Index(['ï»¿sales_person', 'country', 'product', 'date', 'amount',
       'boxes_shipped'],
      dtype='object')

null_columns:-
[]

droped_column:-
[]

numerical_columns:-
['boxes_shipped', 'amount']

alpha_columns:-
['ï»¿sales_person', 'product']

date_columns:-
['date']

location_columns:-
['country']

new_cols:-
[]

ï»¿sales_person
count              1094
unique               25
top       Kelci Walkden
freq                 54
Name: ï»¿sales_person, dtype: object

country
count          1094
unique            6
top       Australia
freq            205
Name: country, dtype: object

product
count        1094
unique         22
top       Eclairs
freq           60
Name: product, dtype: object

date
count         1094
unique         168
top       30-06-22
freq            16
Name: date, dtype: object

amount
count    0.0
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: amount, dtype: float64

boxes_shipped
count    1094.000000
mean      161.797989
std       121.544145
min         1.000000
25%        70.000000
50%       135.000000
75%       228.750000
max       709.000000
Name: boxes_shipped, dtype: float64

  ï»¿sales_person    country              product      date  amount  \
0  Jehu Rudeforth         UK      Mint Chip Choco  04-01-22     NaN
1     Van Tuxwell      India        85% Dark Bars  01-08-22     NaN
2    Gigi Bohling      India  Peanut Butter Cubes  07-07-22     NaN
3    Jan Morforth  Australia  Peanut Butter Cubes  27-04-22     NaN
4  Jehu Rudeforth         UK  Peanut Butter Cubes  24-02-22     NaN

   boxes_shipped
0            180
1             94
2             91
3            342
4            184
       ï»¿sales_person    country              product      date  amount  \
1089  Karlen Mccaffrey  Australia  Spicy Special Slims  17-05-22     NaN
1090    Jehu Rudeforth        USA           White Choc  07-06-22     NaN
1091      Ches Bonnell     Canada  Organic Choco Syrup  26-07-22     NaN
1092    Dotty Strutley      India              Eclairs  28-07-22     NaN
1093  Karlen Mccaffrey      India       70% Dark Bites  23-05-22     NaN

      boxes_shipped
1089            323
1090            119
1091            217
1092            384
1093            344

In [369]:
df.head()

,ï»¿sales_person,country,product,date,amount,boxes_shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04-01-22,NaN,180
1,Van Tuxwell,India,85% Dark Bars,01-08-22,NaN,94
2,Gigi Bohling,India,Peanut Butter Cubes,07-07-22,NaN,91
3,Jan Morforth,Australia,Peanut Butter Cubes,27-04-22,NaN,342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24-02-22,NaN,184