In [262]:
# #%pip install python-dotenv
# # !pip install -q langchain langchain-openai langchain-experimental pandas

# from dotenv import load_dotenv,find_dotenv
# import os
# load_dotenv(find_dotenv())

# import pandas as pd
# from langchain_openai import ChatOpenAI
# from langchain_experimental.agents import create_pandas_dataframe_agent
# from google.colab import files

# import json

In [263]:
# curl -fsSL https://ollama.com/install.sh | sh
# ollama serve
# ollama pull llama3

In [264]:
# # Install dependencies
# # !pip install -q langchain langchain-openai pandas

# import os
# import json
# import pandas as pd
# from pandas import json_normalize
# from langchain_openai import ChatOpenAI
# from langchain_experimental.agents import create_pandas_dataframe_agent
# from google.colab import files

# # 1️⃣ Upload JSON file
# # uploaded = files.upload()
# # file_name = list(uploaded.keys())[0]

# # 2️⃣ Load JSON data
# with open("canada.json", "r") as f:
#     data = json.load(f)

# # If JSON is nested
# df = json_normalize(data)

# # 3️⃣ Set API key securely
# os.environ["OPENAI_API_KEY"] = "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"

# # 4️⃣ Create Chat Model
# chat = ChatOpenAI(
#     model="gpt-4o",
#     temperature=0.0
# )

# # 5️⃣ Create Pandas Agent
# agent = create_pandas_dataframe_agent(
#     chat,
#     df,
#     verbose=True,
#     allow_dangerous_code=True
# )

# # 6️⃣ Example Query
# response = agent.run("Give me first 5 rows data")
# print(response)

In [265]:
# !pip install pymongo
# !pip install mysql-connector

In [266]:
# from pymongo import MongoClient

# client=MongoClient("mongodb+srv://kunalshelke121200:kunalkunal@kunal.9r5eh.mongodb.net/?retryWrites=true&w=majority&appName=kunal")

# db=client.get_database("dataset")
# records=db.columns
# db=client.test
# records.insert_one({"_id":0, "rollno":3,"name":"anil"})

In [267]:
# import mysql.connector
# mydb=mysql.connector.connect(
#     host="localhost",
#     user="root",
#     password="@#19CADBURY43"
# )
# mycursor=mydb.cursor()
# mycursor.execute("show databases")

In [268]:
character_columns=['name', 'department', 'departments', 'team', 'teams', 'product', 'products',
 'region', 'regions', 'subject', 'subjects', 'class', 'school', 'schools',
 'assignment', 'assignments', 'age group', 'age groups', 'disease', 'diseases',
 'hospital', 'hospitals', 'city', 'cities', 'campaign', 'campaigns',
 'platform', 'platforms', 'segment', 'segments', 'ad type', 'ad types',
 'device', 'devices', 'app version', 'app versions', 'feature', 'features',
 'day', 'days', 'error type', 'error types', 'country', 'countries', 'state', 'states',
 'zone', 'zones', 'income bracket', 'income brackets', 'gender', 'genders',
 'warehouse', 'warehouses', 'category', 'categories', 'supplier', 'suppliers',
 'delivery route', 'delivery routes', 'shipment date', 'shipment dates',
 'storage section', 'storage sections', 'developer', 'developers',
 'module', 'modules', 'sprint', 'sprints', 'bug type', 'bug types',
 'task', 'tasks', 'product type', 'product types', 'payment method',
 'payment methods', 'customer', 'coupon', 'coupon codes', 'store branch',
 'store branches', 'content type', 'content types', 'influencer',
 'influencers', 'hashtag', 'hashtags', 'posting time', 'posting times',
 'audience segment', 'audience segments', 'district', 'districts',
 'scheme', 'schemes', 'utility', 'utility types', 'complaint type',
 'complaint types', 'license category', 'license categories',
 'player', 'players', 'match', 'matches', 'event', 'events',
 'training', 'exercise', 'exercises', 'sleep day', 'meal', 'meals',
 'expense category', 'expense categories', 'mood', 'book', 'books',
 'course', 'courses', 'topic', 'topics', 'quiz', 'attempt', 'instructor',
 'instructors', 'skill', 'skills', 'learning mode', 'learning modes',
 'entry', 'entries', 'journal', 'peer', 'certificate', 'certificates']

In [269]:
time_columns=['date', 'dates', 'time', 'times', 'timestamp', 'timestamps', 'datetime', 'datetimes','month', 'months',
              'week', 'weeks', 'day', 'days',
 'quarter', 'quarters', 'year', 'years', 'time slot', 'time slots',
 'date', 'dates', 'season', 'seasons', 'hour', 'hours',
 'posting time', 'posting times', 'training day', 'sleep day',
 'shipment date', 'shipment dates','qtr']

In [270]:
location_terms = {
    "country": [
        "country", "nation", "country_name", "nationality", "sovereign_state",
        "land", "homeland", "country_code", "iso_country", "nation_name",
        "odname", "dev", "world", "continent", "subcontinent", "subregion",
        "member_state", "member_country", "state_party"
    ],
    "city": [
        "city", "town", "municipality", "metro", "metropolis", "urban_area",
        "city_name", "township", "borough", "capital", "village", "urban",
        "metro_area", "conurbation", "settlement", "locality_name"
    ],
    "state": [
        "state", "province", "region", "territory", "governorate", "prefecture",
        "division", "county", "oblast", "subdivision", "federal_state", "administrative_area",
        "state_name", "province_name", "region_name", "territory_name", "governorate_name",
        "prefecture_name", "division_name", "county_name", "oblast_name",
        "state_code", "province_code", "region_code", "territory_code", "governorate_code",
        "prefecture_code", "division_code", "county_code", "oblast_code",
        "state_id", "province_id", "region_id", "territory_id", "governorate_id",
        "prefecture_id", "division_id", "county_id", "oblast_id",
        "state_abbr", "province_abbr", "region_abbr", "territory_abbr", "governorate_abbr",
        "prefecture_abbr", "division_abbr", "county_abbr", "oblast_abbr",
        "state_iso", "province_iso", "region_iso", "territory_iso", "governorate_iso",
        "prefecture_iso", "division_iso", "county_iso", "oblast_iso",
        "reg", "reg_name", "reg_code", "reg_abbr", "reg_iso", "regname",
        "statehood", "admin_region", "admin_division", "state_entity"
    ],
    "area": [
        "area", "district", "locality", "zone", "subzone", "sector",
        "ward", "neighborhood", "region_area", "block", "circle", "areaname",
        "subdistrict", "tehsil", "taluka", "parish", "commune", "borough_area"
    ],
    "postal": [
        "postal","postalcode", "postal_code", "zipcode", "zip", "pin", "pincode",
        "post_code", "mail_code", "zip_code", "postal_number", "postcode",
        "delivery_code", "sorting_code"
    ],
    "address": [
        "address", "street", "street_address", "road", "lane", "avenue", "drive",
        "colony", "apartment", "flat", "building", "house_number", "location",
        "residence", "unit", "plot", "lot", "address_line"
    ],
    "coordinates": [
        "latitude", "lat", "longitude", "lon", "lng", "geo",
        "geo_location", "coordinates", "x_coord", "y_coord", "geocode",
        "latlon", "longlat", "gps", "spatial", "geom"
    ]
}

In [271]:
Numerical_columns=['id','sales', 'revenue', 'growth', 'expense', 'expenses', 'count', 'counts',
 'score', 'scores', 'rating', 'ratings', 'completion', 'attendance',
 'population', 'income', 'performance', 'progress', 'conversion',
 'clicks', 'reach', 'usage', 'crashes', 'crash', 'frequency',
 'GDP', 'engagement', 'vaccinations', 'mortality', 'patients',
 'cases', 'admissions', 'footfall', 'impressions', 'views',
 'capacity', 'volume', 'stats', 'mastery', 'attempts',
 'coverage', 'distribution', 'amount', 'percent', 'percentage',
 'rate', 'rates', 'spent', 'spend', 'return', 'budget', 'budgets',
 'redemption', 'allocation', 'satisfaction', 'like', 'likes',
 'share', 'shares', 'followers', 'follower', 'reach', 'ROI',
 'usage', 'value', 'values', 'lead', 'leads', 'crashes',
 'api calls', 'downloads', 'temperature', 'transactions',
 'visits', 'visitors', 'literacy', 'energy', 'traffic',
 'restock', 'delivery', 'orders', 'stock', 'quantity',
 'damage', 'line', 'code', 'bugs', 'fixed', 'commits',
 'test coverage', 'placed', 'purchases', 'calories',
 'calorie', 'burned', 'speed', 'ranking', 'point', 'points',
 'goals', 'score', 'completed', 'attempts', 'correct',
 'answer', 'difficulty', 'duration', 'productivity',
 'usage', 'conversion', 'engagement', 'impressions','avg','average']

In [272]:
Contact = ["phone","phone_number","mobile","mobile_number","contact","contact_number",
           "telephone","telephone_number","cell","cell_number","phone_no","mobile_no",
           "contact_no","tel_no","primary_phone","secondary_phone","work_phone","home_phone",
           "office_phone","personal_phone","emergency_contact_number"]

In [273]:
import pandas as pd
import re
from os import replace

In [274]:
df=pd.read_csv('superstore_sales.csv',encoding='latin1')
# df=pd.read_excel("Tableau Joins File.xlsx")
# df=pd.read_json("try.json")

In [275]:
total_column_count=0
total_row_count=0
column_name=[]
null_columns=[]
droped_column=[]
numerical_columns=[]
phone_number_column=[]
alpha_columns=[]
date_columns=[]
location_columns=[]
country=[]
city=[]
state=[]
postal_code=[]
area=[]
address=[]
coordinates=[]

In [276]:
df.columns = df.columns.str.strip().str.replace(r'\s+', '_', regex=True).str.lower()

In [277]:
total_column_count=len(df.columns)
print(total_column_count)

21

In [278]:
total_row_count=len(df)
print(total_row_count)

51290

In [279]:
df.drop_duplicates(inplace=True)

In [280]:
total_column_count=len(df.columns)
print(total_column_count)

21

In [281]:
total_row_count=len(df)
print(total_row_count)

51290

In [282]:
column_name=df.columns
print(column_name)

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [283]:
null_columns=df.columns[df.isnull().any()].tolist()
print(null_columns)

[]

In [284]:
droped_column=[]
for i in null_columns:
  if (df[i].count()<= (len(df)//3)):
    droped_column.append(i)
    df.drop(columns=[i],inplace=True)
print(droped_column)

[]

In [285]:
null_columns=df.columns[df.isnull().any()].tolist()
print(null_columns)

[]

In [286]:
# for i in df.columns:
#   print(df[i].describe(),"\n")

In [287]:
numerical_columns=df.select_dtypes(include="number").columns.tolist()
print(numerical_columns)

['quantity', 'discount', 'profit', 'shipping_cost', 'year']

In [288]:
alpha_columns=df.select_dtypes(include=['object','string']).columns.tolist()
print(alpha_columns)

['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name', 'segment', 'state', 'country', 'market', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'sales', 'order_priority']

In [289]:
date_columns=df.select_dtypes(include=['datetime']).columns.tolist()
print(date_columns)

[]

In [290]:
#check date in numerical

from os import replace
for check_date in numerical_columns:
  check=check_date.translate(str.maketrans("_-/","   ")).split()
  for i in check[:]:
    for j in time_columns:
      if i==j:
        if check_date not in date_columns:
          date_columns.append(check_date)
        if check_date not in time_columns:
          time_columns.append(check_date)
          break
        else:
          break
for r in date_columns:
  if r in numerical_columns:
    numerical_columns.remove(r)

In [291]:
print(alpha_columns)
print(numerical_columns)
print(date_columns)
print(location_columns)

['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name', 'segment', 'state', 'country', 'market', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'sales', 'order_priority']
['quantity', 'discount', 'profit', 'shipping_cost']
['year']
[]

In [292]:
#check aplha column to dataset

for j in alpha_columns:
  for i in character_columns:
    if j==i:
      flag=0
      break
    flag=1
  if flag==1:
    character_columns.append(j)

In [293]:
print(alpha_columns)
print(numerical_columns)
print(date_columns)
print(location_columns)

['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name', 'segment', 'state', 'country', 'market', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'sales', 'order_priority']
['quantity', 'discount', 'profit', 'shipping_cost']
['year']
[]

In [294]:
#check date column from dataset

for i in alpha_columns:
  for j in time_columns:
    if i==j:
      if i not in date_columns:
        date_columns.append(i)
      break
for r in date_columns:
  if r in alpha_columns:
    alpha_columns.remove(r)

In [295]:
print(alpha_columns)
print(numerical_columns)
print(date_columns)
print(location_columns)

['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name', 'segment', 'state', 'country', 'market', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'sales', 'order_priority']
['quantity', 'discount', 'profit', 'shipping_cost']
['year']
[]

In [296]:
#check numerical column from dataset

for i in alpha_columns:
  for j in Numerical_columns:
    if i==j:
      if i not in numerical_columns:
        numerical_columns.append(i)
      break
for r in numerical_columns:
  if r in alpha_columns:
    alpha_columns.remove(r)

In [297]:
print(alpha_columns)
print(numerical_columns)
print(date_columns)
print(location_columns)

['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name', 'segment', 'state', 'country', 'market', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'order_priority']
['quantity', 'discount', 'profit', 'shipping_cost', 'sales']
['year']
[]

In [298]:
#numerical detector___________check later

for i in alpha_columns:
    for j in Numerical_columns:
        pattern = (
            r'(^' + re.escape(j) + r'$|' +
            r'^' + re.escape(j) + r'([_\-\s]|$)|' +
            r'([_\-\s]|^)' + re.escape(j) + r'$|' +
            r'.*'+re.escape(j)+r'.*'
            r')'
        )
        if re.search(pattern, i, re.IGNORECASE):
            if i not in numerical_columns:
              v=df.loc[0,i]
              val="1234567890%.$-*+"
              nflag=0
              for fst in v:
                if fst in val:
                  nflag=nflag+1
              if nflag==(len(v)):
                df[i]=(df[i]
                  .astype(str)
                  .str.replace(r"[,_\-%\$\*]", "", regex=True)
                  .str.strip()
                  )
                df[i]=pd.to_numeric(df[i],errors="coerce")
                numerical_columns.append(i)
              break

for r in numerical_columns:
    if r in alpha_columns:
        alpha_columns.remove(r)

In [299]:
print(alpha_columns)
print(numerical_columns)
print(date_columns)
print(location_columns)

['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name', 'segment', 'state', 'country', 'market', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'order_priority']
['quantity', 'discount', 'profit', 'shipping_cost', 'sales']
['year']
[]

In [300]:
#date time detector

import re

for i in alpha_columns:
    for j in time_columns:
        pattern = (
            r'(^' + re.escape(j) + r'$|' +
            r'^' + re.escape(j) + r'([_\-\s]|$)|' +
            r'([_\-\s]|^)' + re.escape(j) + r'$|' +
            r'.*' + re.escape(j) + r'.*'
            r')'
        )
        if re.search(pattern, i, re.IGNORECASE):
            if i not in date_columns:
                date_columns.append(i)
            break

for r in date_columns:
    # df[r]=df[r].replace("/","",inplace=True)
    df[r] = pd.to_datetime(df[r], errors="coerce")
    if r in alpha_columns:
        alpha_columns.remove(r)

In [301]:
print(alpha_columns)
print(numerical_columns)
print(date_columns)
print(location_columns)

['order_id', 'ship_mode', 'customer_name', 'segment', 'state', 'country', 'market', 'region', 'product_id', 'category', 'sub_category', 'product_name', 'order_priority']
['quantity', 'discount', 'profit', 'shipping_cost', 'sales']
['year', 'order_date', 'ship_date']
[]

In [302]:
#Location detector

for i in location_terms:
  for j in range(len(location_terms[i])):
    for k in alpha_columns:
      if k==location_terms[i][j]:
        if k not in location_columns:
          location_columns.append(k)
          if i=="country":
            country.append(k)
          elif i=="city":
            city.append(k)
          elif i=="state":
            state.append(k)
          elif i=="area":
            area.append(k)
          elif i=="postal":
            postal_code.append(k)
          elif i=="address":
            address.append(k)
          elif i=="coordinates":
            coordinates.append(k)
    for n in numerical_columns:
      if n==location_terms[i][j]:
        if n not in location_columns:
          location_columns.append(n)
          if i=="postal":
            postal_code.append(n)
for r in location_columns:
  if r in alpha_columns:
    alpha_columns.remove(r)
for rn in location_columns:
  if rn in numerical_columns:
    numerical_columns.remove(rn)

In [303]:
print(alpha_columns)
print(numerical_columns)
print(date_columns)
print(location_columns)

['order_id', 'ship_mode', 'customer_name', 'segment', 'market', 'product_id', 'category', 'sub_category', 'product_name', 'order_priority']
['quantity', 'discount', 'profit', 'shipping_cost', 'sales']
['year', 'order_date', 'ship_date']
['country', 'state', 'region']

In [304]:
#non alphabetical pushed to numerical

for i in alpha_columns:
  flag=0
  add=0
  sub=0
  nct=0
  fstvl=0
  lstvl=0
  special=0
  value=df.loc[0,i]
  val="1234567890"
  alpha = "abcdefghijklmnopqrstuvwxyz"
  Alpha = "ABCDEFGHIJKLMNOPQRSTUVWXYZ"
  if (len(value)==1) and ((value in alpha) or (value in Alpha)):
    continue

    if isinstance(value, str):
      val="1234567890"
      vald="1234567890."
      value=value.replace(",","").strip()
      for tr in range(len(value)):
        if (value[tr] not in val) and (value[tr]==value[0]):
          fstvl=1
        elif (value[tr] not in val) and (value[tr]==value[-1]):
          lstvl=1
        elif (value[tr] in val):
          flag=flag+1
        elif (value[tr]=="."):
          flag=flag+1
          special=special+1
    if (fstvl==1) and ((len(value)-1)==flag):
      for cv in range(len(df[i])):
        val_str = str(df.loc[cv, i])
        for see in val_str:
          if (sub==0) and (see=="-"):
            sub=1
          elif see not in vald:
            val_str = val_str.replace(see, "")
        df.loc[cv, i] = val_str
      df[i]=(df[i]
            .astype(str)
            .str.replace(",","",regex=False)
            .str.strip()
            )
      df[i]=pd.to_numeric(df[i],errors="coerce")
      numerical_columns.append(i)
    elif (lstvl==1) and ((len(value)-1)==flag):
      for cv in range(len(df[i])):
        val_str = str(df.loc[cv, i])
        for see in val_str:
          if (sub==0) and (see=="-"):
            sub=1
          elif see not in vald:
            val_str = val_str.replace(see, "")
        df.loc[cv, i] = val_str
      df[i]=(df[i]
            .astype(str)
            .str.replace(",","",regex=False)
            .str.strip()
            )
      df[i]=pd.to_numeric(df[i],errors="coerce")
      numerical_columns.append(i)
    elif (special==1) and ((len(value))==flag):
      for cv in range(len(df[i])):
        val_str = str(df.loc[cv, i])
        for see in val_str:
          if (sub==0) and (see=="-"):
            sub=1
          elif see not in vald:
            val_str = val_str.replace(see, "")
        df.loc[cv, i] = val_str
      df[i]=(df[i]
            .astype(str)
            .str.replace(",","",regex=False)
            .str.strip()
            )
      df[i]=pd.to_numeric(df[i],errors="coerce")
      numerical_columns.append(i)
    elif (special==0) and ((len(value))==flag) and (lstvl==0) and (fstvl==0):
      for cv in range(len(df[i])):
        val_str = str(df.loc[cv, i])
        for see in val_str:
          if (sub==0) and (see=="-"):
            sub=1
          elif see not in vald:
            val_str = val_str.replace(see, "")
        df.loc[cv, i] = val_str
      df[i]=(df[i]
            .astype(str)
            .str.replace(",","",regex=False)
            .str.strip()
            )
      df[i]=pd.to_numeric(df[i],errors="coerce")
      numerical_columns.append(i)
  else:
    if (isinstance(value,str)):
      for cv in value:
        if cv in val:
          nct=nct+1
      if len(value)==nct:
        df[i]=(df[i]
            .astype(str)
            .str.replace(r"[,_\-%\$\*]", "", regex=True)
            .str.strip()
            )
        df[i]=pd.to_numeric(df[i],errors="coerce")
        dt=df[i].dtype
        print(dt)
        numerical_columns.append(i)

for r in numerical_columns:
  if r in alpha_columns:
    alpha_columns.remove(r)

print(alpha_columns)
print(numerical_columns)
print(date_columns)
print(location_columns)

['order_id', 'ship_mode', 'customer_name', 'segment', 'market', 'product_id', 'category', 'sub_category', 'product_name', 'order_priority']
['quantity', 'discount', 'profit', 'shipping_cost', 'sales']
['year', 'order_date', 'ship_date']
['country', 'state', 'region']

In [305]:
# #non numerical pushed to alphabetical
# count=0
# for i in numerical_columns:
#   flag=0
#   add=0
#   sub=0
#   value = df.loc[0, i]
#   if isinstance(value, str):
#     val="1234567890"
#     vald="1234567890."
#     alpha="abcdefghijklmnopqrstuvwxyz"
#     Alpha="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
#     value=value.replace(",","").strip()
#     for tr in range(1,len(value)):
#       if (isinstance(value[0],str) and (value[tr] in val) ) or ((value[0] in val) and (value[tr] in val)) or ((value[tr-1] in val) and (isinstance(value[-1],str))):
#         flag=1
#       elif (value[tr] == "."):
#         flag=1
#       else:
#         add=add+1
#   flag=flag+add
#   if (flag==1) and (((value[0] not in alpha) and (value[0] not in Alpha)) and ((value[-1] not in alpha) and (value[-1] not in Alpha))):
#     for cv in range(len(df[i])):
#       val_str = str(df.loc[cv, i])
#       for see in val_str:
#         count=count+1
#         if (sub==0) and (see=="-"):
#           sub=1
#         elif (see not in vald):
#           val_str = val_str.replace(see, "")
#       df.loc[cv, i] = val_str
#     df[i] = (
#     df[i]
#     .astype(str)
#     .str.replace(",", "", regex=False)
#     .str.strip())
#     df[i] = pd.to_numeric(df[i], errors="coerce")
#   elif (flag>1) or ((flag==1) and (((value[0] in alpha) or (value[0] in Alpha)) or ((value[-1] in alpha) or (value[-1] in Alpha)))):
#     alpha_columns.append(i)
# for r in alpha_columns:
#   if r in numerical_columns:
#     numerical_columns.remove(r)
# print(count)

In [306]:
for i in numerical_columns:
  if i in Contact:
    phone_number_column.append(i)
    numerical_columns.remove(i)

In [307]:
for r in alpha_columns:
  if r in numerical_columns:
    alpha_columns.remove(r)
  elif r in date_columns:
    alpha_columns.remove(r)
  elif r in location_columns:
    alpha_columns.remove(r)

In [308]:
if len(numerical_columns)>0:
  for i in numerical_columns:
    df[i]=df[i].fillna(0)

In [309]:
print(alpha_columns)
print(numerical_columns)
print(date_columns)
print(location_columns)

['order_id', 'ship_mode', 'customer_name', 'segment', 'market', 'product_id', 'category', 'sub_category', 'product_name', 'order_priority']
['quantity', 'discount', 'profit', 'shipping_cost', 'sales']
['year', 'order_date', 'ship_date']
['country', 'state', 'region']

In [310]:
# print(len(column_name))
# for i in column_name:
#    print(i,df[i].dtype)
# df.head()
# df.tail()

In [311]:
for i in alpha_columns:
  df[i]=df[i].str.strip()
  df[i]=df[i].str.title()
for i in numerical_columns:
  df[i]=df[i].fillna(0)

In [312]:
# for i in alpha_columns:
#   collection={}
#   word=df[i].unique()
#   count=len(word)
#   value=df[i].value_counts()
#   print(value)

In [314]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,Ag-2011-2040,2011-01-01,2011-06-01,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,1970-01-01 00:00:00.000002011
1,In-2011-47883,2011-01-01,2011-08-01,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,Apac,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,1970-01-01 00:00:00.000002011
2,Hu-2011-1220,2011-01-01,2011-05-01,Second Class,Annie Thurman,Consumer,Budapest,Hungary,Emea,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,1970-01-01 00:00:00.000002011
3,It-2011-3647632,2011-01-01,2011-05-01,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,Eu,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,1970-01-01 00:00:00.000002011
4,In-2011-47883,2011-01-01,2011-08-01,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,Apac,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,1970-01-01 00:00:00.000002011

In [313]:
df.tail()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
51285,Ca-2014-115427,NaT,2015-04-01,Standard Class,Erica Bern,Corporate,California,United States,Us,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,1970-01-01 00:00:00.000002014
51286,Mo-2014-2560,NaT,2015-05-01,Standard Class,Liz Preis,Consumer,Souss-Massa-Draâ,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,1970-01-01 00:00:00.000002014
51287,Mx-2014-110527,NaT,2015-02-01,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,Latam,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,1970-01-01 00:00:00.000002014
51288,Mx-2014-114783,NaT,2015-06-01,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,Latam,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,1970-01-01 00:00:00.000002014
51289,Ca-2014-156720,NaT,2015-04-01,Standard Class,Jill Matthias,Consumer,Colorado,United States,Us,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,1970-01-01 00:00:00.000002014